<center><h1 class="text-2xl">Available Courses</h1></center>
<div class="flex flex-row">
    <div class="flex flex-col border border-1 w-80" >
        <h3>Introduction to Java</h3>
        <div class="flex flex-row">
            
        </div>
        <div class="flex flex-row">
            <button class="btn btn-primary">View</button>
            <button class="btn bg-purple-600">Enroll</button>
        </div>
    </div>
    
    <div class="flex flex-col border border-1 w-80" >
        <h3>Introduction to Java</h3>
        <div class="flex flex-row">
            
        </div>
        <div class="flex flex-row">
            <button class="btn btn-primary">View</button>
            <button class="btn bg-purple-600">Enroll</button>
        </div>
    </div>
    
    <div class="flex flex-col border border-1 w-80" >
        <h3>Introduction to Java</h3>
        <div class="flex flex-row">
            
        </div>
        <div class="flex flex-row">
            <button class="btn btn-primary">View</button>
            <button class="btn bg-purple-600">Enroll</button>
        </div>
    </div>
</div>
