                
                <form action="/users" method="post">
                    <div class="pt-2 pb-1">
                        <label for="firstName">First Name:</label>
                        <input type="text" name="firstName" id="" class="border-2 border-slate-400 text-grey-900 rounded p-2 w-full">
                    </div>
                    

                    <div class="py-1">
                        <label for="lastName">Last Name:</label>
                        <input type="text" name="lastName" id="" class="border-2 border-slate-400 text-grey-900 rounded p-2 w-full">
                    </div>
                    

                    <div class="py-1">
                        <label for="">Account Type:</label>
                        <select name="" id="" class="custom-select border-2 border-slate-400 text-grey-900 rounded p-3 w-full">
                            <option value="" disabled selected>Select Account Type</option>
                            <option value="student">Student</option>
                            <option value="faculty">Faculty</option>
                        </select>
                    </div>
                    

                    <div class="py-1">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="" class="border-2 border-slate-400 text-grey-900 rounded p-2 w-full">
                    </div>
                    

                    <div class="py-1">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="" class="border-2 border-slate-400 text-grey-900 rounded p-2 w-full">
                    </div>

                    <div class="py-1">
                        <button type="submit" class="text-white bg-primary hover:bg-green-800 font-medium rounded px-5 py-2">Sign up</button>
                    </div>
                </form>
        
    