body {
  background-color: white !important;
}
.header {
  height: 100px;
  color: white;
}
.profile-container {
  position: relative;
}
.profile-details {
  position: absolute;
  width: 200px;
  height: min-content;
  visibility: hidden;
  top: 100%;
  left: 0;
  margin-top: 5px;
  z-index: 2;
}

/* .profile-logo:hover + .profile-details {
  display: flex; /* Show details on hover */
/* } */
*/ .fit-content {
  width: fit-content;
}
.chapter:hover {
  border: 2px solid rgb(14 165 233) !important;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Initially hidden */
}
.popup {
  background-color: white;
  padding: 20px 20px 0 20px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.show {
  visibility: visible;
}

.chapter-name-page {
  display: none !important; /* Default to hidden */
}

.hidden-to-show {
  display: flex !important; /* Class to hide elements */
}
.form-container-add-page {
  width: 66%;
  min-width: 500px;
  margin: 0 auto;
}
/* signup select */
.select-custom {
  appearance: none; /* Remove default browser styling for the arrow */
  padding: 10px; /* Padding for the text inside the select box */
  padding-right: 30px; /* Extra padding on the right for the arrow */
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"%3E%3Cpolygon points="0,0 20,0 10,10" fill="grey" /%3E%3C/svg%3E')
    no-repeat right 0.5rem center; /* Arrow icon */
  background-size: 10px; /* Size of the arrow */
}

#pagename {
  border: 1px solid #ccc;
}
